
@{
    ViewBag.Title = "Aranžmani";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

<h2>Aranžmani</h2>

@foreach (var arrangement in Model.SearchedArrangements)
{
    <div class="single_stuff wow fadeInDown">
        <div class="single_stuff_img"> <a href="#"><img src="~/images/stuff_img1.jpg" alt=""></a> </div>
        <div class="single_stuff_article">
            <div class="single_sarticle_inner">
                <a class="stuff_category" href="#">@arrangement.Destination.Country</a>
                <div class="stuff_article_inner">
                    <span class="stuff_date"><strong>@String.Format("{0:dd MMM}", arrangement.Arrangement.StartDate)</strong></span>
                    <h2><a href="#">@arrangement.Destination.PlaceName</a></h2>
                    <p>Cena: @arrangement.Arrangement.Price</p>
                </div>
            </div>
        </div>
    </div>
}
