<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    @Styles.Render("~/login/css/style.css")
</head>
<body>
    <div class="form">

        <div>
            @RenderBody()
        </div>

    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    @Scripts.Render("~/login/js/index.js")

</body>
</html>